<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" div="IE=edge">	 
	<meta name="viewport" div="width=device-width, initial-scale=1">
	<title>Patitas al rescate - Adopta a tu mascota</title>
	<link rel="shourtcut item" href="la img q sea">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<header>
	<nav>
		<a href="../index.html" id="title" class="boldLeft">
			<h1>Paws2Save</h1>
		</a>
		<ul id="navbar" class=mediumCenter>
			<li>
				<a href="../views/rescatados.html">Rescatados</a>
			</li>
			<li>
				<a href="../views/en_adopcion.html">En adopcion</a>
			</li>
			<li>
				<a href="../views/nosotros.html">Nosotros</a>
			</li>
			<li>
				<a href="../views/contacto.html">Contacto</a>
			</li>
		</ul>
	</nav>
	</header>
	<main>
		<section class="thinCenter">
				<img id="imgHero" src="../Media/fondo_nosotros.jpeg" alt="Gatos cachorros con comentario indicando que adoptar salva vidas">
		</section>
		<section>
		<article class="mediumCenter">
			<p id="introNosotros" class="cajaNosotros">
			Si recién nos conocés te contamos todo sobre nosotros: somos una asociación sin fines de lucro inscripta que trabaja hace años para mejorar la calidad de vida de los animales. En nuestro refugio conviven más de 50 perros y gatos rescatados del maltrato y el abandono humano. Oriundos de Lomas de Zamora, Provincia de Buenos Aires, Argentina, ahora localizados en Cañuelas, trabajamos día a día para acabar con el maltrato y el abandono rescatando, alimentando, conteniendo a los animales mas necesitados, como así mismo concientizando y educando a la sociedad. Además realizamos campañas de esterilización en barrios carenciados como método eficaz del control de super población animal.
			El trabajo que queda por hacer es enorme, pero confiamos que entre todos podemos lograr que algún día los refugios no tengan que existir y cada animal tenga el hogar feliz que se merece ¡Sumate vos también!
			</p>
		</article>
		</section>
	</main>
	<aside id="gracias" class="mediumCenter">
		<h2>Gracias!</h2>
		<p>Por ayudarnos a ayudar</p>
	</aside>
	<footer	id="footer" class="thinCenter">
		<p>Seguinos en nuestras redes para enterarte de todas nuestras novedades!
		</p>
		<a href="https://www.facebook.com/" target="_blank">
			<img src="../Media/logo_facebook.jpg">
		</a>
		<a href="https://www.instagram.com/" target="_blank">
			<img src="../Media/logo_instagram.jpg">
		</a>
		<a href="https://www.twitter.com/" target="_blank">
			<img src="../Media/logo_twitter.jpg">
		</a>
		<a href="https://www.whatsapp.com/" target="_blank">
			<img src="../Media/logo_whatsapp.jpg">
		</a>
	</footer>
</html>