<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" div="IE=edge"> 
	<meta name="viewport" div="width=device-width, initial-scale=1">
	<title>Patitas al rescate - Adopta a tu mascota</title>
	<link rel="shourtcut item" href="la img q sea">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<header>
	<nav>
		<a href="../index.html" id="title" class="boldLeft">
			<h1>Paws2Save</h1>
		</a>
		<ul id="navbar" class=mediumCenter>
			<li>
				<a href="../views/rescatados.html">Rescatados</a>
			</li>
			<li>
				<a href="../views/en_adopcion.html">En adopcion</a>
			</li>
			<li>
				<a href="../views/nosotros.html">Nosotros</a>
			</li>
			<li>
				<a href="../views/contacto.html">Contacto</a>
			</li>
		</ul>
	</nav>
	</header>
	<main class="mainGridsRescatados">
		<section id="gridIntroRescatados">
			<p class="mediumCenter" id="articulo">Estos son los animales rescatados por heroes como vos! Ahora tienen un hogar y estan contentos con sus nuevos dueños.</p>
			<p class="mediumCenter" id="articulo">Sumate a la adopción responsable y viví la experiencia de encontrar a tu nuevo mejor amigo.</p>
		</section>
		<div id="gridRescatados1">
			<img src="../Media/adoptado_1.jpg" alt="Perra Nea con su nueva dueña Juana">
			<p class="mediumCenter">Nea y su nueva dueña Juana</p>
		</div>
		<div id="gridRescatados2">
			<img src="../Media/adoptado_2.jpg" alt="Pitbull Bruce con su nueva dueña Josefina">
			<p class="mediumCenter">Bruce y su nueva dueño Juan</p>
		</div>
		<div id="gridRescatados3">
			<img src="../Media/adoptado_3.jpg" alt="Perra Bartola con su nuevo dueño Juan">
			<p class="mediumCenter">Juana y su nuevo dueño Nicolás</p>
		</div>
		<div id="gridRescatados4">
			<img src="../Media/adoptado_4.jpg" alt="Perra Sixta con su nueva dueña Andrea">
			<p class="mediumCenter">Sixta y su nueva dueña Andrea</p>
		</div>
		<div id="gridRescatados5">
			<img src="../Media/adoptado_5.jpg" alt="Gato Milo con sus nuevos dueños Carlos y Laura">
			<p class="mediumCenter">Milo con sos nuevos dueños Carlos y Laura</p>
		</div>
		<div id="gridRescatados6">
			<img src="../Media/adoptado_6.jpg" alt="Gata Casey con sus nuevos dueños Beatriz y Pablo">
			<p class="mediumCenter">Casey con sus nuevos dueños Bety y Pablo</p>
		</div>
		<div id="gridRescatados7">
			<img src="../Media/adoptado_7.jpg" alt="Gato Momo con su nuevo dueño Eduardo">
			<p class="mediumCenter">Momo y su nuevo dueño Eduardo</p>
		</div>
		<div id="gridRescatados8">
			<img src="../Media/adoptado_8.jpg" alt="Perro Rocco con su nueva dueña Luisiana">
			<p class="mediumCenter">Rocco y su nueva dueña Luisiana</p>
		</div>
	</main>
</body>
	<aside id="gracias" class="mediumCenter">
		<h2>Gracias!</h2>
		<p>Por ayudarnos a ayudar</p>
	</aside>
	<footer	id="footer" class="thinCenter">
		<p>Seguinos en nuestras redes para enterarte de todas nuestras novedades!
		</p>
		<a href="https://www.facebook.com/" target="_blank">
			<img src="../Media/logo_facebook.jpg">
		</a>
		<a href="https://www.instagram.com/" target="_blank">
			<img src="../Media/logo_instagram.jpg">
		</a>
		<a href="https://www.twitter.com/" target="_blank">
			<img src="../Media/logo_twitter.jpg">
		</a>
		<a href="https://www.whatsapp.com/" target="_blank">
			<img src="../Media/logo_whatsapp.jpg">
		</a>
	</footer>
</html>